/* Styles for drawing canvas */
#canvas {
    padding: 0;
    margin: auto;
    display: block;
    /*width: 600px;
    height: 400px;*/
    position: absolute;
    /*top: 0;
    bottom: 0;*/
    left: 0;
    right: 0;
    border: 3px solid #000;
    z-index: 1;
    margin-top: 5%;
}

#user_text {
    padding: 0;
    margin: auto;
    display: block;
    /*width: 600px;
    height: 400px;*/
    position: absolute;
    /*top: 0;*/
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    margin-bottom: 5%;
}

#user_text2 {
    padding: 0;
    margin: auto;
    display: block;
    /*width: 600px;
    height: 400px;*/
    position: absolute;
    /*top: 0;*/
    left: 0;
    right: 1;
    z-index: 1;
    text-align: center;
}

/* Styles for generated word */
#word {
    /*border: 1px solid #000;*/
    display: block;
    margin:auto;
    left: 0;
    right: 0;
    position: absolute;
}

#word2, #timer{
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size:xx-large;
}


#messages {
    z-index: -1;
    float: left;
}

#users {
    float: right;
}

li.user_message {
    z-index: -1;
}